/* Footer top */
.footer-top-wrapper {
  text-align: center;
  margin-top: map-get($spacing, spacing-80);
  .option {
    margin-top: 51px;
    ul {
      @include remove-ul-style;
    }
    a {
      display: block;
      color: $dark-brown;
      &:hover {
        color: $transparent-dark-brown;
      }
    }
  }
  .social-media-icons {
    margin-top: map-get($spacing, spacing-52);
    ul {
      @include remove-ul-style;
      li {
        display: inline;
      }
    }
    img {
      background-color: $red-orange;
      padding: map-get($spacing, spacing-16);
      box-sizing: border-box;
      border-radius: $b-radius * 4;
      margin-right: 8px;
    }
    img.no-margin {
      margin-right: 0;
    }
    a:hover {
      opacity: 0.7;
    }
  }
  @media (min-width: $screen-md) {
    @include flex-space-between;
    h3 {
      margin-top: 9px;
    }
    .option {
      margin-top: map-get($spacing, spacing-12);
      text-align: left;
    }
    .social-media-icons {
      margin-top: 0;
    }
  }
}

/* Footer bottom */
.footer-bottom-wrapper {
  display: flex;
  flex-direction: column-reverse;
  border-top: 1px solid $pale-apricot;
  padding: 43px 0 map-get($spacing, spacing-52);
  margin-top: map-get($spacing, spacing-64);
  text-align: center;
  nav {
    a {
      margin-right: map-get($spacing, spacing-68);
      color: $dark-brown;
      &:hover {
        color: $transparent-dark-brown;
      }
    }
    a.no-margin {
      margin-right: 0px;
    }
  }
  span {
    color: $transparent-dark-brown;
    flex-basis: 50%;
    margin-top: map-get($spacing, spacing-32);
  }
  @media (min-width: $screen-md) {
    flex-direction: row;
    nav {
      flex-basis: 50%;
      justify-content: flex-end;
      text-align: end;
    }
    span {
      margin-top: 0;
      text-align: start;
      span {
        display: none;
      }
    }
  }
}
