/* Grid */

.grid-container {
  display: grid;
  gap: 32px; /* Adjust the gap between grid items as needed */
  place-items: center;
  grid-template-columns: 1fr;
  line-height: 0;
  margin-top: 48px;

  figure {
    width: 100%;
    position: relative;
    margin: 0;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 416px;
      object-fit: cover;
      border-radius: 6px;
    }
    figcaption {
      position: absolute;
      bottom: 51px;
      left: 28px;
      line-height: 2;
      span {
        display: inline-block;
        background-color: $white;
        padding: 5px 15px 1px 16px;
        border-radius: 19px;
      }
      h2 {
        margin-top: 23px;
      }
    }
  }

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-template-rows: 1fr auto; /* One row with full width, and one row with two columns */
    margin-top: 68px;

    figure:first-child {
      grid-column: 1 / -1; /* Span the full width of the grid */
    }

    figure:first-child img {
      height: 720px;
    }
  }
}
