/* Header */
.header-main {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: 16px;
    object-fit: contain;
  }

  button {
    display: none;
    @media (min-width: $screen-md) {
      display: inline-block;
      color: $white;
      margin-top: 16px;
      padding: 17.5px 34.5px 14px;
      transition: all $transition-delay;
      &:hover {
        background-color: $hover-white-bg;
      }
    }
  }

  nav {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: center;
      margin-top: 28px;
      flex-basis: 66%;
      gap: 5%;
      a {
        color: $white;
        &:hover {
          color: $hover-white-text;
        }
      }
    }
    @media (min-width: $screen-lg) {
      gap: 12%;
    }
  }

  .button-wrapper {
    img {
      border: 1px solid $transparent-white;
      border-radius: $b-radius;
      padding: 17px 16px;
      transition: all $transition-delay;
      &:hover {
        background-color: $hover-white-bg;
        cursor: pointer;
      }
      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }
}
