/* Button */
button {
  background-color: transparent;
  border: 0;
  color: $dark-brown;
  font-size: 14px;
  font-family: $font-black;
  font-weight: $font-weight-black;
  letter-spacing: 0;
  text-transform: uppercase;
  border: 1px solid $transparent-white;
  border-radius: $b-radius;
}
