/* Fonts */
@font-face {
  font-family: "Epilogue-Black";
  src: url("../fonts/Epilogue-Black.ttf");
}

@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/Epilogue-Bold.ttf");
}

@font-face {
  font-family: "Epilogue-ExtraBold";
  src: url("../fonts/Epilogue-ExtraBold.ttf");
}

@font-face {
  font-family: "Epilogue-Regular";
  src: url("../fonts/Epilogue-Regular.ttf");
}
